*~
*.pyc
/RestAPIs/settings.py
/RestAPIs/settings.pyc
/Templates/.DS_Store,
/restpi/models.pyc
/users/*.pyc
.idea/*
*.xml
*.DS_Store
/build
/media/
.vscode
.vscode/*
/node_modules/
/static/webpack-stats.json
/static/package-lock.json
/static/assets/*
/restpi/models.pyc
/restpi/*.pyc
/node_modules/
.idea/*
*.xml
/media
/.vscode
npm-debug.log
*.zip
*.out
newvenv/*
hl7_node_server/node_modules
node_modules

